@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@300;400;500;700&display=swap");

* {
  /* background-color: #000;
  background-color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  margin: -15px 0 0 20px;
}
.hero {
  height: 400px;
  width: 100%;
}
.hero-content {
  color: white;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);

  height: 530px;
}

.header {
  /* background: #fff; */
  border-radius: 20px;
  z-index: 99;
  padding: 10px;
  margin-top: 10px;
  /* width: 1200px;| */
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: #fff;
  width: 1024px;
  height: 50px;
  /* padding: 20px; */
  margin-left: 84px;
  margin-top: 10px;
  border-radius: 20px;
}
.hero-content::before {
  content: "";
  position: absolute;
  top: -10;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: url("./assets/BLOB\ ANIMATION.gif"); */
  /* background: url("/supprtsvgs/Gradient.png"); */
  /* background: url("./assests/Gradient.png"); */
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  inset: 0;
  /* background-size: 1840px; */
  z-index: -1;
}

.item {
  margin: 10px 20px;
  color: #000;
}
.nav_section {
  z-index: 99;
}
.dot {
  font-size: 40px;
  margin-top: -22px;
  border-radius: 50%;
  color: rgba(35, 172, 128, 1);
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 24px;
  margin-top: 8px;
  color: rgba(35, 172, 128, 1);
  width: 91px;
  height: 39px;
  border: 1px solid rgba(35, 172, 128, 1);
  border-radius: 8px 8px 20px 8px;

  transition: all 1s ease-in-out;
}

.arrow {
  visibility: hidden;
}

.login:hover .arrow {
  visibility: visible;
}
.login:hover .dot {
  display: none;
}
.login:hover {
  background: linear-gradient(to right, #96e4df, #4dccc6);
  transition: all 1s ease-in-out;
  color: #fff;
}

.nav_section::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  display: block;
  height: 520px;
  width: 100%;
  /* background: url("./assests/Gradient.png"); */
  background-repeat: no-repeat;
  background-position: center center;
}
.header {
  z-index: 9999;
  /* position: relative; */
}
/* =================== navbar end  ============================= */

.brokagecontainer{
  /* background-color: red; */
  margin: 150px;
  margin-top: 150px;
  
}
.namecontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 97.8%;
  text-align: center;
}
.listcontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.flelement
{
  margin-right: 30px;
  background-color: #01C096;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
}
.lelement
{
  margin-right: 30px;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;

  color: #312c2c;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
 
}
.Calculator
{
 
  margin-top: 50px;
/* background-color: #01C096; */
margin-left: 80px;
}
.calh1
{
  font-size: 35px;
  font-weight: 500;
}
.boxcal {
  /* background-color: yellow; */
  margin-top: 50px;
  /* border: 2px solid black; */
  border-radius: 5px;
  padding-top: 50px;
  margin-right: 120px;
  margin-left: 10px;
  box-shadow: 0 0 2px black;
  padding-bottom: 80px;
  /* background-color: red; */
}

.textcal{
  display: flex;
  justify-content: start;
  align-items: center;
}
.Exchange
{
  font-size: 20px;
  margin-left: 50px;
  color: #4f4b4b;
}
.symbol
{
  font-size: 20px;
  color: #4f4b4b;
  margin-left: 250px;
}
.containercal{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
}
.selector1{
  margin-left: 50px;
}
.selector2{
  margin-left: 100px;
}
.select1
{
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 250px;
}
.select2
{
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 290px;
}
.caltext
{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  color: #4f4b4b;
}
.caltext .text11{
  margin-left: 150px;
}
.options
{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
}
.opt1{
  width: 252px;
  height: 50px;
   font-size: 15px;
   font-weight: 400;
   padding-left: 20px;
   border-radius: 5px;
}
.opt_21
{
  margin-left: 152px;
 width: 20px;
 height: 20px;
 margin-right: 10px;
}
.opt_22
{
  margin-left: 30px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.opt21text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.opt211text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: black;
}
.opt22text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.byS{
  display: flex;
  justify-content: start;
  align-items: center;
 margin-left: 250px;
 margin-top: 60px;
}
.buyopt
{
  width: 20px;
  height: 20px;
  margin-left: 42px;
}
.sellopt
{
  margin-left: 42px;
  width: 20px;
  height: 20px;

}
.buy,.sell{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;

}
.buy{
  color: #01C096;
}
.buttonsadd
{
  display: flex;
  justify-content: start;
  align-items: center;
 margin-left: 250px;
 margin-top: 50px;
}
.btn1,.btn2
{
  margin: 5px;
  padding: 9px;
  width: 120px;
  border-radius: 10px;
}
.btn1
{
  color: white;
  background-color: #1db695; 
  margin-right: 20px;
}
.btn2{
  border: 1px solid #1db695 ;
}
.listreq
{
  
  margin-left: 210px;
  margin-top: 80px;
  margin-right: 300px;
  margin-bottom: 90px;
}
.itemprices
{
border-radius: 15px;
border: #01C096 2px solid;
}
.liph1
{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.itemp1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(56, 185, 144, 0.1);
  /* border: 1px solid black; */
  padding: 18px 0;
}
.itemp
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 18px 0;
}
.itname
{
  margin-left: 5px;
}
.itamunt
{
  margin-right: 8px;
}
.itnamesp
{
  margin-left: 5px;
  font-weight: 500;
}

.middleone {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  /* background-color: red; */
  margin-right: 180px;
}

.row1 {
  /* width: 900px; */
  display: flex;
  border-bottom: 2px solid black;
}
.row2 {
  /* width: 900px; */
  display: flex;
  height: 50px;
  /* padding-right: 50px; */
}

.coll {
 width: 120px;
  padding: 10px;
  text-align: center;
  border-right: 2px solid black;
}
.coll:last-child {
  border-right: none; /* Remove right border for the last column */
}
.row1 .coll:last-child {
  border-bottom: 2px solid black;
}
/* ========= foooter  ====================================== */
footer{

  background-color: black;
}
.footer1
{
 
  display: flex;
  justify-content: space-evenly;
}
.titlef{
  color: #01787B ;
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 20px;
}
li,.text1{
  color: white;
  margin-bottom: 10px;
}
.footerlogo{
  color: #01787B ;
}
.textfooter,.textfooteraction{
  color: white;
}
.footerbottom{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 120px;
}
.footerlog{
  margin-left: 50px;
  margin-bottom: 10px;
}
.socialmedia{
  display: flex;
}
.socialmedia img{
  margin-left: 20px;

}
.last{
  color: white;
  margin-left: 50px;
}
.last p{
  font-family: sans-serif;
}
.last2{
  /* display: flex; */
  color: white;
  margin-top: 20px;
 /* justify-content: space-evenly; */
}
.textff
{
  margin-left: 15px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.fbtns{
  margin: 5px;
  padding: 10px;
  background-color:#01C096 ;
   border-radius: 5px;
}
.last2 {
  display: flex;
  justify-content: space-between;
  /* background-color: #f2f2f2; */
  padding: 10px 20px;
}

.lastp1,
.lastp2 {
  margin: 0;
}